@(moduleForm: Form[models.DB.ApplicationRow], formAction: play.api.mvc.Call, parentId: Long, row: Option[models.DB.ApplicationRow] = None)(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@helper.form(action = formAction) {
  <fieldset>

	@row match {
    	case Some(row) => {
    		<input type="hidden" name="id" value="">
    	}
    	case None => {
    		<input type="hidden" name="id" value="">
	    }
	 }
	  
	  		<input type="hidden" name="parentId" value="@parentId">
	  		<input type="hidden" name="path" value="modules">

	<legend>
				@Messages("module.item_name")
		   </legend>
		    @helper.inputText(moduleForm("name"))

	<legend>
				@Messages("module.dependencies")
		   </legend>
		   @select(
		   		moduleForm("dependencies"),
		   		models.DB.ApplicationRow.getModuleOptions(parentId),
		   		'_default -> Messages("form.select")
		   )

  </fieldset>
  <p><input type="submit" class="btn primary"
  value='@Messages("module.save")'></p>
}