@(rows: List[models.DB.ModuleRow])(implicit lang: Lang)

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>@Messages("module.name")</th>
        <th>@Messages("module.dependencies")</th>
        <th>@Messages("application.name")</th>
      </tr>
    </thead>
    <tbody>
    @for(row <- rows){
          <tr>
            <td>
              <a href="@controllers.routes.ModuleController.detail(row.id.get)">@row.name</a>
            </td>
            <td>
              @if(row.dependencies != None) {
              	@for(module <- models.DB.ModuleRow.findById(row.dependencies.get)) {
              		<a href="@controllers.routes.ModuleController.detail(module.id.get)">@module.name</a>
              	}
              }
            </td>
            <td>
            	<a href="@controllers.routes.ApplicationController.detail(row.applicationId)">@models.DB.ApplicationRow.findById(row.applicationId).get.name</a>
            </td>
        </tr>
    }
     </tbody>
  </table>