@(model: models.Model, fields: List[models.fields.Field], relatedFields: List[models.fields.RelatedField])
package controllers

import play.api._
import play.api.mvc._

import models.DB._

import play.api.data._
import play.api.data.Forms._

import play.api.db.slick.DB
import play.api.db.slick.Config.driver.simple._
import slick.lifted.{Join, MappedTypeMapper}

object @{model.controllerName} extends Controller {
  def index = Action {
    val @{model.pluralName} = @{model.rowName}.findAll

    Ok(views.html.@{model.name}.index(@{model.pluralName}))
  }

  val @{model.formName} = Form(
      mapping(@views.html.field.template.fields.render_controller_form(fields)
      )(@{model.rowName}.apply)(@{model.rowName}.unapply)
  )

  def insert = Action {
    Ok(views.html.@{model.name}.insert(@{model.formName}))
  }
  

  def detail(id: Long) = Action {
    @{model.rowName}.findById(id).map{
      @{model.varName} => Ok(views.html.@{model.name}.detail(@{model.varName}))
    }.getOrElse(NotFound)
  }
  
  def save = Action { implicit request =>
    @{model.formName}.bindFromRequest.fold(
      formWithErrors => BadRequest(views.html.@{model.name}.insert(formWithErrors)),
      @{model.varName} => {
        val id = @{model.rowName}.save(@{model.varName})
        Redirect(routes.@{model.controllerName}.detail(id))
      }
    )
  }
  
  def edit(id: Long) = Action{
    @{model.rowName}.findById(id).map{
      @{model.varName}:@{model.rowName} => Ok(views.html.@{model.name}.edit(@{model.formName}.fill(@{model.varName}),@{model.varName}))
    }.getOrElse(NotFound)
  }
  
  def delete(id: Long) = Action{
    implicit request =>
    @{model.rowName}.findById(id).map{
      @{model.varName} => {
          @{model.rowName}.delete(@{model.varName})
          Redirect(routes.@{model.controllerName}.index())
    }
    }.getOrElse(NotFound)
  }
  
  def update(id: Long) = Action{ implicit request =>
    @{model.rowName}.findById(id).map{
      @{model.varName} => {
      @{model.formName}.bindFromRequest.fold(
        formWithErrors => BadRequest(views.html.@{model.name}.edit(formWithErrors,@{model.varName})),
        @{model.varName} => {
          @{model.rowName}.update(@{model.varName})
          Redirect(routes.@{model.controllerName}.detail(@{model.varName}.id.get))
        }
      )
    }
    }.getOrElse(NotFound)
  }
}