@(model: models.Model, fields: List[models.fields.Field])
package models.DB

import play.api.Play.current

import play.api.db.slick.DB
import play.api.db.slick.Config.driver.simple._
import scala.slick.driver.MySQLDriver.DeleteInvoker
import slick.lifted.{Join, MappedTypeMapper}

case class @{model.rowName}(
  @for((field,index) <- fields.zipWithIndex){
    @Html(field.classDefinition)@{if(index != fields.length - 1){','}}
  }
){
  
}

object @{model.rowName}{
  def save(@{model.varName}: @{model.rowName}):Long = {
    DB.withTransaction { implicit session =>
      @{model.tableName}.returning(@{model.tableName}.id).insert(@{model.varName})
    }
  }
  
  def update(@{model.varName}: @{model.rowName}):Int = {
    DB.withTransaction { implicit session =>
      val q = for {
        s <- @{model.tableName}
        if s.id === @{model.varName}.id
      } yield(s)
      q.update(@{model.varName})
    }
  }
  
  def delete(@{model.varName}: @{model.rowName}):Int = {
    DB.withTransaction { implicit session =>
       val q = for {
        s <- @{model.tableName}
        if s.id === @{model.varName}.id.get
      } yield(s)
      (new DeleteInvoker(q)).delete
    }
  }

  
  def findAll: List[@{model.rowName}] = {
    DB.withSession { implicit session =>
      Query(@{model.tableName}).list
    }
  }
  
  def findById(id: Long):Option[@{model.rowName}] = {
    DB.withSession { implicit session =>
      val q = for{
        s <- @{model.tableName} if s.id === id
      } yield (s)
      q.firstOption
    }
  }

  def getOptions(): Seq[(String,String)] = {
    DB.withSession { implicit session =>
      val @{model.pluralName} = for {
        p <- @{model.tableName}
      } yield(p)
      for(@{model.varName} <- @{model.pluralName}.list) yield(@{model.varName}.id.get.toString,@{model.varName}.name) 
    }
  }
}