@(model: models.Model)
@@(@{model.formName}: Form[models.DB.@{model.rowName}], @{model.varName}: models.DB.@{model.rowName})(implicit lang: Lang)

@@main(Messages("@{model.name}.insert")){
  <div class="page-header">
      <h1>@@Messages("@{model.name}.insert")</h1>
  </div>
  
  @@views.html.@{model.name}.form(@{model.formName}, route = routes.@{model.controllerName}.update(@{model.varName}.id.get), row = Some(@{model.varName}))

  <p>
    <a href="@@controllers.routes.@{model.controllerName}.index()"
    class="btn">
    <i class="icon-plus"></i> @@Messages("@{model.name}.return")</a>
  </p>
}