@(appName: String, modelList: List[models.DB.ModelRow])
application.name = @appName

@for(model <- modelList){

#@{model.name}
@{model.name}.model_name = @{model.name.capitalize}

@{model.name}.number = #
@{model.name}.item_name = Name

@{model.name}.new = New @{model.name.capitalize}
@{model.name}.insert = A New @{model.name.capitalize}
@{model.name}.return = Return
@{model.name}.save = Save
@{model.name}.index = @{model.name.capitalize} List
@{model.name}.item_detail = {0} @{model.name.capitalize} details

@for(field <- model.fields){
	@{model.name}.@{field.name} = @{field.name.capitalize}
}
}