@(applications: List[models.DB.ApplicationRow])(implicit lang: Lang)

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>@Messages("application.item_name")</th>
        <th>@Messages("application.path")</th>
        <th>@Messages("application.create_project")</th>
      </tr>
    </thead>
    <tbody>
    @for(application <- applications){
          <tr>
            <td>
              <a href="@controllers.routes.ApplicationController.detail(application.id.get)">@application.name</a>
            </td>
            <td>@application.path</td>
            <td>@application.createProject</td>
        </tr>
    }
     </tbody>
  </table>