@(model: models.DB.ModelRow)(implicit lang: Lang)

@main(Messages("model.name")){
<div class="page-header">
   <h1>@Messages("model.item_detail",model.name)</h1>
</div>

@views.html.model.list(List(model))

<h3>@Messages("model.field_list",model.name)</h3>
@views.html.field.list(model.fields)
@views.html.field.buttons.new_item()

<p>
    <a href="@controllers.routes.ModelController.generateAll(model.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("model.generate_all")</a>
    <br />
    <a href="@controllers.routes.ModelController.generateController(model.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("model.generate_controller")</a>
    <br />
    <a href="@controllers.routes.ModelController.generateTable(model.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("model.generate_table")</a>
    <br />
    <a href="@controllers.routes.ModelController.generateRow(model.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("model.generate_row")</a>
    <br />
    <a href="@controllers.routes.ModelController.generateViews(model.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("model.generate_views")</a>
    <br />

    <br />
    <a href="@controllers.routes.ModelController.index()"
    class="btn">
    <i class="icon-plus"></i> @Messages("model.index")</a>
</p>
}